.header {  
    font-size: 24px;  
    margin-bottom: 20px;  
    color: #000;  
}  

.input-row {  
    display: flex; 
    justify-content: space-between;   
    align-items: center;   
    margin-bottom: 15px; 
}  

label {  
    margin-right: 10px; 
    font-weight: bold;  
}  

input, .ant-date-picker {  
    flex: 1; 
}  

.switch-row {  
    justify-content: space-between; 
}  

.button-row {  
    display: flex; 
    justify-content: flex-end; 
    margin-top: 10px; 
}  

.create-button {  
    background-color: red;  
    color: white;  
    width: auto; 
}  